In [2]:
def myfunction():
    print("Hello From the first Function")
myfunction()

Hello From the first Function

In [4]:
def namefunction(fname):
    print("Your First Name is: ", fname)
namefunction("Ali")

Your First Name is:  Ali

In [6]:
def ffunction(fname,lname):
    print(fname +" "+lname)
ffunction("Noman", "Ijaz")

Noman Ijaz

### Arbitraty Aruguments

In [19]:
def ifunction(*kids):
    print("This names of kid is: "+ kids[1])
ifunction("Noman","othman","Zuman")

This names of kid is: othman

### Keyword Argument

In [20]:
def  familyfunction(child,child2,child3 ):
    print("this is name of the child: " + child3)
familyfunction(child="emil",child2="Tobia",child3="Linus")

this is name of the child: Linus

# Passing the list of arguments

In [21]:
def my_function(food):
    for x in food:
        print(x)
        
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

# Return values

In [22]:
def Rfunction(x):
    return 5*x
print(Rfunction(3))

15

# Pass Statement

-  Function body cannot be empty but for some reasons if you want it to be empty use pass statement

In [23]:
def iffunction():
    pass

# Recursion

In [27]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(5)

Recursion Example Results
1
3
6
10
15

15